{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: "#mytextarea ,#modaltextarea",
      // selector:"#",
      height: 500,

      plugins: "image code",
      toolbar: "undo redo | link image | code",
      /* enable title field in the Image dialog*/
      image_title: true,
      /* enable automatic uploads of images represented by blob or data URIs*/
      automatic_uploads: true,
      /*
    URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
    images_upload_url: 'postAcceptor.php',
    here we add custom filepicker only to Image dialog
  */
      file_picker_types: "image",
      /* and here's our custom image picker*/
      file_picker_callback: function (cb, value, meta) {
        var input = document.createElement("input");
        input.setAttribute("type", "file");
        input.setAttribute("accept", "image/*");

        /*
        Note: In modern browsers input[type="file"] is functional without
        even adding it to the DOM, but that might not be the case in some older
        or quirky browsers like IE, so you might want to add it to the DOM
        just in case, and visually hide it. And do not forget do remove it
        once you do not need it anymore.
      */

        input.onchange = function () {
          var file = this.files[0];

          var reader = new FileReader();
          reader.onload = function () {
            /*
                Note: Now we need to register the blob in TinyMCEs image blob
                registry. In the next release this part hopefully won't be
                necessary, as we are looking to handle it internally.
              */
            var id = "blobid" + new Date().getTime();
            var blobCache = tinymce.activeEditor.editorUpload.blobCache;
            var base64 = reader.result.split(",")[1];
            var blobInfo = blobCache.create(id, file, base64);
            blobCache.add(blobInfo);

            /* call the callback and populate the Title field with the file name */
            cb(blobInfo.blobUri(), { title: file.name });
          };
          reader.readAsDataURL(file);
        };

        input.click();
      },
      content_style:
        "body { font-family:Helvetica,Arial,sans-serif; font-size:14px }",
    });
  </script>
</head>

<body>
<!-- Navbar start -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a style="padding: 0.35rem 0rem 0.35rem !important;" class="navbar-brand " href="{% url 'home' %}"><img style="width: 9rem; margin-left: 0.7rem;" src="{% static 'algoGeek.png' %}" alt=""></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="font-size: large;" class="nav-link active" aria-current="page" href="{% url 'contests' %}">Contests</a>
        </li>
        <li class="nav-item">
          <a style="font-size: large;" class="nav-link active" aria-current="page" href="{% url 'normal_problems' %}">Practice</a>
        </li>
        <li class="nav-item">
          <a style="font-size: large" class="nav-link active" aria-current="page"
              href="{% url 'team_home' %}">Discussion</a>
      </li>
        
      </ul>
      <form method="GET" action="{% url 'searching' %}"  style="width: 50%; height: 3.5rem; margin-right: 1rem; ;" class="d-flex">{% csrf_token %}
        <input style="height: 3rem; margin-top: 0.5rem;" class="form-control me-2" name="search_text" type="search" placeholder="Search" aria-label="Search">
        <button style="height: 2.9rem; margin-top: 0.5rem;" class="btn btn-outline-light" type="submit">Search</button>
      </form>



      <ul
        style="margin-right: 6rem !important"
        class="navbar-nav me-2 mb-2 mb-lg-0"
      >
        <li class="nav-item dropdown">
          <a
            style="font-weight: 650; font-size: larger"
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <svg
              style="margin-right: 0.3rem"
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              />
            </svg>

            {{request.user.username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="{% url 'profile' request.user.profile.pk %}"
                ><svg style="margin-bottom: 0.2rem; margin-right:0.2rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg> Profile</a
              >
            </li>
            <center><hr></center>
            <li>
              <a class="dropdown-item" href="{% url 'log_out' %}"><svg style="margin-bottom: 0.2rem; margin-right:0.2rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg> Log out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar end -->
  <div class="container mt-4">
    <div class="alert alert-primary" role="alert">
      <h2 style="font-weight: 300">
        <strong>Contest</strong> : {{contest.title}}
      </h2>
    </div>

    <br />
    <strong style="margin-left: 0.5rem">Questions: </strong>
    <br />
    <br />

    {% for i in ques %}
    <div style="width: 80%" class="alert alert-info" role="alert">
      <div class="row">
        <div class="col-4">
          <span><strong>{{forloop.counter}}.</strong> </span>{{i.title|truncatechars:15}}
        </div>
        <div class="col-3">
          <a style="border-radius: 0.1rem" href="#" class="btn btn-outline-primary" data-bs-toggle="modal"
            data-bs-target="#editProblem{{i.pk}}">Edit
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </a>
        </div>
        <div class="col-3">

          <a style="border-radius: 0.1rem" href="{% url 'add_test_cases_page' i.pk %}" class="btn btn-outline-primary" >Add test case
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
          </svg>
        </a>
        <br />


        </div>
        <div class="col-2">
          <a style="border-radius: 0.1rem" href="{% url 'problem' i.pk %}" class="btn btn-primary" >Test
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
              <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
            </svg>
          </a>

        </div>
      </div>
    </div>

    <!-- modal start edit problem -->

    <div class="modal fade" id="editProblem{{i.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="editProblem{{i.pk}}Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editProblem{{i.pk}}Label">
              Edit Problem
              <small style="font-weight: lighter"> ({{i.title}})</small>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'edit_problem' i.pk %}">
              {% csrf_token %}

              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title_edit" value="{{i.title}}" required />
              <br />

              <label for="mytextarea" class="form-label">Description</label>
              <textarea name="description_edit" id="modaltextarea" required>
                {{i.description}}
              </textarea>

              <br />

              <label for="score" class="form-label">Score</label>
              <label for="score" class="form-label">Score</label>
      
              <select class="form-select form-select-sm" id="score" name="score_edit" aria-label=".form-select-sm example">
                <option value="0" selected>0</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                
                
              </select>
              <br />
              

              <label for="time_limit" class="form-label">Time Limit</label>
              <input type="number" id="time_limit" class="form-control" name="time_limit_edit" value="{{i.time_limit}}" required />
              <br />

              <input type="text" value="{{i.id}}" name="problem_id_edit" style="display: none" />
              

              <br />
              <label for="difficulty" class="form-label">Difficulty</label>
              <select class="form-select form-select-sm" id="difficulty" name="difficulty_edit"
                aria-label=".form-select-sm example">
                <option value="MD" selected>Medium</option>
                <option value="ES">Easy</option>
                <option value="HD">Hard</option>
                <option value="VH">Very Hard</option>
                <option value="EX">Expert</option>
                >
              </select>
              <br />
              <label for="DsAlgo" class="form-label">Algorithm Used</label>
              <select class="form-select form-select-sm" id="DsAlgo" name="category_edit"
                aria-label=".form-select-sm example">
                <option value="{{dsalgos.0.pk}}" selected>
                  {{dsalgos.0.name}}
                </option>

                {% for i in dsalgos|slice:"1:" %}

                <option value="{{i.pk}}">{{i.name}}</option>

                {% endfor %}
              </select>

              <br /><br />
              <hr />
              <br />
              <center>
                <button type="submit" class="btn btn-outline-info btn-lg mb-5">
                  Submit
                </button>
              </center>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end -->

    {% endfor %}
  </div>
  <div class="container mt-4">
    <hr />
    <br /><br />
    <h4><strong>Add Question</strong></h4>
    <br /><br />
    <form action="{% url 'problem_setting' contest.id %}" method="POST">
      {% csrf_token %}
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" required />
      <br />

      <label for="mytextarea" class="form-label">Description</label>
      <textarea name="description" id="mytextarea" required>
Hello, World!</textarea>
      <br />
      <label for="score" class="form-label">Score</label>
      
      <select class="form-select form-select-sm" id="score" name="score" aria-label=".form-select-sm example">
        <option value="0" selected>0</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        
        
      </select>




      <!-- <br />
      <label for="input_cases" class="form-label">Input Cases</label>
      <textarea name="input_cases" class="form-control" id="input_cases" cols="30" rows="10"
        aria-describedby="inputCases"></textarea>
      <div id="inputCases" class="form-text">
        Type the inputs with proper indentation and spacing
      </div>
      <br />

      <label for="test_cases" class="form-label">Test Cases</label>
      <textarea name="test_cases" class="form-control" id="test_cases" cols="30" rows="10" aria-describedby="testCases"
        required></textarea>
      <div id="testCases" class="form-text">
        Type the inputs with proper indentation and spacing
      </div> -->




     





      <label for="time_limit" class="form-label">Time Limit</label>
      <input type="number" id="time_limit" class="form-control" name="time_limit" required />
      <br />

      <input type="text" value="{{contest.id}}" name="contest_id" style="display: none" />
      <input type="text" value="{{contest.unique_id}}" name="contest_uid" style="display: none" />

      <br />
      <label for="difficulty" class="form-label">Difficulty</label>
      <select class="form-select form-select-sm" id="difficulty" name="difficulty" aria-label=".form-select-sm example">
        <option value="MD" selected>Medium</option>
        <option value="ES">Easy</option>
        <option value="HD">Hard</option>
        <option value="VH">Very Hard</option>
        <option value="EX">Expert</option>
        
      </select>
      <br />
      <label for="DsAlgo" class="form-label">Algorithm Used</label>
      <select class="form-select form-select-sm" id="DsAlgo" name="category" aria-label=".form-select-sm example">
        <option value="{{dsalgos.0.pk}}" selected>{{dsalgos.0.name}}</option>

        {% for i in dsalgos|slice:"1:" %}

        <option value="{{i.pk}}">{{i.name}}</option>

        {% endfor %}
      </select>

      <br /><br />
      <hr />
      <br />
      <center>
        <button type="submit" class="btn btn-outline-info btn-lg mb-5">
          Submit
        </button>
      </center>
      <br />
    </form>
  </div>
</body>

</html>