{% load humanize %}

{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>



    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: "#mytextarea ,#modaltextarea",
        // selector:"#",
        height: 500,
  
        plugins: "image code",
        toolbar: "undo redo | link image | code",
        /* enable title field in the Image dialog*/
        image_title: true,
        /* enable automatic uploads of images represented by blob or data URIs*/
        automatic_uploads: true,
        /*
      URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
      images_upload_url: 'postAcceptor.php',
      here we add custom filepicker only to Image dialog
    */
        file_picker_types: "image",
        /* and here's our custom image picker*/
        file_picker_callback: function (cb, value, meta) {
          var input = document.createElement("input");
          input.setAttribute("type", "file");
          input.setAttribute("accept", "image/*");
  
          /*
          Note: In modern browsers input[type="file"] is functional without
          even adding it to the DOM, but that might not be the case in some older
          or quirky browsers like IE, so you might want to add it to the DOM
          just in case, and visually hide it. And do not forget do remove it
          once you do not need it anymore.
        */
  
          input.onchange = function () {
            var file = this.files[0];
  
            var reader = new FileReader();
            reader.onload = function () {
              /*
                  Note: Now we need to register the blob in TinyMCEs image blob
                  registry. In the next release this part hopefully won't be
                  necessary, as we are looking to handle it internally.
                */
              var id = "blobid" + new Date().getTime();
              var blobCache = tinymce.activeEditor.editorUpload.blobCache;
              var base64 = reader.result.split(",")[1];
              var blobInfo = blobCache.create(id, file, base64);
              blobCache.add(blobInfo);
  
              /* call the callback and populate the Title field with the file name */
              cb(blobInfo.blobUri(), { title: file.name });
            };
            reader.readAsDataURL(file);
          };
  
          input.click();
        },
        content_style:
          "body { font-family:Helvetica,Arial,sans-serif; font-size:14px }",
      });
    </script>

</head>
<style>
  body {
    background-color: #f3f7f7;
  }

  .card {
    box-shadow: 2px 1px 23px 0px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 2px 1px 23px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 2px 1px 23px 0px rgba(0, 0, 0, 0.19);
  }
</style>

<body>
<!-- Navbar start -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a style="padding: 0.35rem 0rem 0.35rem !important;" class="navbar-brand " href="{% url 'home' %}"><img style="width: 9rem; margin-left: 0.7rem;" src="{% static 'algoGeek.png' %}" alt=""></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="font-size: large;" class="nav-link active" aria-current="page" href="{% url 'contests' %}">Contests</a>
        </li>
        <li class="nav-item">
          <a style="font-size: large;" class="nav-link active" aria-current="page" href="{% url 'normal_problems' %}">Practice</a>
        </li>

        <li class="nav-item">
          <a style="font-size: large" class="nav-link active" aria-current="page"
              href="{% url 'team_home' %}">Discussion</a>
      </li>
      </ul>
      <form method="GET" action="{% url 'searching' %}"  style="width: 50%; height: 3.5rem; margin-right: 1rem; ;" class="d-flex">{% csrf_token %}
        <input style="height: 3rem; margin-top: 0.5rem;" class="form-control me-2" name="search_text" type="search" placeholder="Search" aria-label="Search">
        <button style="height: 2.9rem; margin-top: 0.5rem;" class="btn btn-outline-light" type="submit">Search</button>
      </form>



      <ul
        style="margin-right: 6rem !important"
        class="navbar-nav me-2 mb-2 mb-lg-0"
      >
        <li class="nav-item dropdown">
          <a
            style="font-weight: 650; font-size: larger"
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <svg
              style="margin-right: 0.3rem"
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              />
            </svg>

            {{request.user.username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="{% url 'profile' request.user.profile.pk %}"
                ><svg style="margin-bottom: 0.2rem; margin-right:0.2rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg> Profile</a
              >
            </li>
            <center><hr></center>
            <li>
              <a class="dropdown-item" href="{% url 'log_out' %}"><svg style="margin-bottom: 0.2rem; margin-right:0.2rem" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg> Log out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar end -->


  <!-- messages start -->


  <div class="container mt-4 mb-4">

    {% for msg in messages %}
    <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
        <strong>{{msg}} !!</strong>
        
    </div>
    {% endfor %}

  </div>


  <!-- messages end -->
  <div class="container">


    <div class="row mt-5">

      <div class="col-md-4">
        <br>
        <div class="row mt-3">
          <img style="width: 10rem;" src="https://img.icons8.com/fluent/158/000000/gender-neutral-user.png" />
        </div>
        <div class="row mt-3">



          <strong style="margin-left: 2.5rem;">{{prof.user.username}}</strong>
          <p>{{prof.user.bio}}</p>
          <br>
          <div style="margin-left: 0.5rem; margin-bottom: 1rem;">
            Add contest
            <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                x="0px" y="0px" width="40" height="40" viewBox="0 0 172 172" style="fill: #000000">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                  stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                  font-family="none" font-weight="none" font-size="none" text-anchor="none"
                  style="mix-blend-mode: normal">
                  <path d="M0,172v-172h172v172z" fill="none"></path>
                  <g>
                    <path
                      d="M86,161.25c-41.4907,0 -75.25,-33.7593 -75.25,-75.25c0,-41.4907 33.7593,-75.25 75.25,-75.25c41.4907,0 75.25,33.7593 75.25,75.25c0,41.4907 -33.7593,75.25 -75.25,75.25z"
                      fill="#0d6efd"></path>
                    <path
                      d="M86,12.9c40.3082,0 73.1,32.7918 73.1,73.1c0,40.3082 -32.7918,73.1 -73.1,73.1c-40.3082,0 -73.1,-32.7918 -73.1,-73.1c0,-40.3082 32.7918,-73.1 73.1,-73.1M86,8.6c-42.7463,0 -77.4,34.6537 -77.4,77.4c0,42.7463 34.6537,77.4 77.4,77.4c42.7463,0 77.4,-34.6537 77.4,-77.4c0,-42.7463 -34.6537,-77.4 -77.4,-77.4z"
                      fill="#4788c7"></path>
                    <path
                      d="M43,81.7h86c2.3736,0 4.3,1.9264 4.3,4.3v0c0,2.3736 -1.9264,4.3 -4.3,4.3h-86c-2.3736,0 -4.3,-1.9264 -4.3,-4.3v0c0,-2.3736 1.9264,-4.3 4.3,-4.3z"
                      fill="#98ccfd"></path>
                    <path
                      d="M90.3,43v86c0,2.3736 -1.9264,4.3 -4.3,4.3v0c-2.3736,0 -4.3,-1.9264 -4.3,-4.3v-86c0,-2.3736 1.9264,-4.3 4.3,-4.3v0c2.3736,0 4.3,1.9264 4.3,4.3z"
                      fill="#98ccfd"></path>
                  </g>
                </g>
              </svg></a>
          </div>


          




        </div>

      </div>
      <div style="height: 50vh;
      overflow: scroll;
      background: white;
     
      border-radius: 0.4rem;" class="col-md-8 ">
<br>
      <strong>Contests: </strong>
      <br>
   
        <div class="row">

          
          {% if contests %}

          {% for contest in contests %}
          <div class="col-sm-6 mt-5">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">{{contest.title}}</h6>
                <small style="font-weight:lighter;">{{contest.curation_time|naturaltime}}</small>
                <p class="card-text">
                  <br>
                  <small><strong><span>No. of questions : {{contest.question_set.all|length}}</span></strong></small>
                  <br>
                  <small><span>Start time : {{contest.start_time}}</span></small>
                  <br>
                  <small><span>End time : {{contest.end_time}}</span></small>
                </p>
                <div class="row mt-2">
                  <div class="col-md-4 mt-3">
                    <a style="border-radius: 0.1rem;" href="{% url 'problem_setting' contest.pk %}"
                      class="btn btn-outline-primary">View <svg style="margin-left: 0.2rem; margin-bottom:0.2rem"
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                        <path fill-rule="evenodd"
                          d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                      </svg></a>

                  </div>

                  <div class="col-md-4 mt-3">

                    <a style="border-radius: 0.1rem;" href="#" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#editContest{{contest.pk}}" href="#">Edit <svg
                        style="margin-left: 0.2rem; margin-bottom:0.2rem" xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path
                          d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                      </svg></a>

                  </div>
                  <div class="col-md-4 mt-3">
                    <a style="border-radius: 0.1rem;" href="{% url 'delete_contest' contest.pk %}"
                      class="btn btn-outline-danger">Delete <svg style="margin-left: 0.2rem; margin-bottom:0.2rem"
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                      </svg></a>
                  </div>

                </div>

              </div>
            </div>



            <!-- modal start edit contest -->


            <div class="modal fade" id="editContest{{contest.pk}}" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="editContest{{contest.pk}}Label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editContest{{contest.pk}}Label">Edit Contest <small
                        style="font-weight: lighter;"> ({{contest.title}})</small></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="POST" action="{% url 'edit_contest' contest.pk %}">{% csrf_token %}
                      <div class="row mb-3">

                        <label for="contestTitle" class="col-sm-3 col-form-label mt-2">Title</label>
                        <div class="col-sm-9 mt-2">
                          <input type="text" name="title_edit" class="form-control" id="contestTitle"
                            value="{{contest.title}}">
                        </div>

                        <label for="startTime" class="col-sm-3 col-form-label mt-2">Start Time</label>
                        <div class="col-sm-9 mt-2">
                          <input class="form-control" type="datetime-local" id="startTime" name="start_time_edit" required>
                        </div>

                        <label for="endTime" class="col-sm-3 col-form-label mt-2">End Time</label>
                        <div class="col-sm-9 mt-2">
                          <input class="form-control" type="datetime-local" id="endTime" name="end_time_edit" required>
                        </div>

                        <label for="endTime" class="col-sm-3 col-form-label mt-2">Difficulty</label>
                        <div class="col-sm-9 mt-2">
                          <select class="form-select form-select-md" name="difficulty_edit"
                            aria-label=".form-select-md example">
                            <option value="MD" selected>Medium</option>
                            <option value="ES">Easy</option>
                            <option value="HD">Hard</option>
                            <option value="VH">Very Hard</option>
                            <option value="EX">Expert</option>
                          </select>
                        </div>


                      </div>
                      <center><button type="submit" class="btn btn-primary mt-4 mb-4">Curate</button></center>
                    </form>
                  </div>

                </div>
              </div>
            </div>
            <!-- modal end -->
          </div>

          {% endfor %}
          {% else %}
          <div class="container">
            <div class="alert alert-primary d-flex align-items-center mt-5" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              <div>
                Sorry, No Contests Yet
              </div>
            </div>
          </div>
          
            
          {% endif %}
            
          




        </div>


      </div>
    </div>
    <br><br>


    <div class="row">
      <div class="col-md-4">
        <br>
          <div style="margin-left: 0.5rem; margin-bottom: 1rem;">
            Add Practice Problem
            <a data-bs-toggle="modal" data-bs-target="#addproblem" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                x="0px" y="0px" width="40" height="40" viewBox="0 0 172 172" style="fill: #000000">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                  stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                  font-family="none" font-weight="none" font-size="none" text-anchor="none"
                  style="mix-blend-mode: normal">
                  <path d="M0,172v-172h172v172z" fill="none"></path>
                  <g>
                    <path
                      d="M86,161.25c-41.4907,0 -75.25,-33.7593 -75.25,-75.25c0,-41.4907 33.7593,-75.25 75.25,-75.25c41.4907,0 75.25,33.7593 75.25,75.25c0,41.4907 -33.7593,75.25 -75.25,75.25z"
                      fill="#0d6efd"></path>
                    <path
                      d="M86,12.9c40.3082,0 73.1,32.7918 73.1,73.1c0,40.3082 -32.7918,73.1 -73.1,73.1c-40.3082,0 -73.1,-32.7918 -73.1,-73.1c0,-40.3082 32.7918,-73.1 73.1,-73.1M86,8.6c-42.7463,0 -77.4,34.6537 -77.4,77.4c0,42.7463 34.6537,77.4 77.4,77.4c42.7463,0 77.4,-34.6537 77.4,-77.4c0,-42.7463 -34.6537,-77.4 -77.4,-77.4z"
                      fill="#4788c7"></path>
                    <path
                      d="M43,81.7h86c2.3736,0 4.3,1.9264 4.3,4.3v0c0,2.3736 -1.9264,4.3 -4.3,4.3h-86c-2.3736,0 -4.3,-1.9264 -4.3,-4.3v0c0,-2.3736 1.9264,-4.3 4.3,-4.3z"
                      fill="#98ccfd"></path>
                    <path
                      d="M90.3,43v86c0,2.3736 -1.9264,4.3 -4.3,4.3v0c-2.3736,0 -4.3,-1.9264 -4.3,-4.3v-86c0,-2.3736 1.9264,-4.3 4.3,-4.3v0c2.3736,0 4.3,1.9264 4.3,4.3z"
                      fill="#98ccfd"></path>
                  </g>
                </g>
              </svg></a>
          </div>
      </div>
    </div>



<!-- modal for add problem start-->


<div class="modal fade" id="addproblem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="addproblemLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addproblemLabel">
              Add Problem
             
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'normal_problem_setting' prof.pk %}">
              {% csrf_token %}

              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" required />
              <br />

              <label for="mytextarea" class="form-label">Description</label>
              <textarea name="description" id="modaltextarea" required>
                {{i.description}}
              </textarea>

              <br />

              
              <br />
              <!-- <label for="input_cases" class="form-label">Input Cases</label>
              <textarea name="input_cases" class="form-control" id="input_cases" cols="30" rows="10"
                aria-describedby="inputCases"></textarea>
              <div id="inputCases" class="form-text">
                Type the inputs with proper indentation and spacing
              </div>
              <br />

              <label for="test_cases" class="form-label">Test Cases</label>
              <textarea name="test_cases" class="form-control" id="test_cases" cols="30" rows="10"
                aria-describedby="testCases" required></textarea>
              <div id="testCases" class="form-text">
                Type the inputs with proper indentation and spacing
              </div>
              <br /> -->

              <label for="time_limit" class="form-label">Time Limit</label>
              <input type="number" id="time_limit" class="form-control" name="time_limit"  required />
              <br />

              
              

              <br />
              <label for="difficulty" class="form-label">Difficulty</label>
              <select class="form-select form-select-sm" id="difficulty" name="difficulty"
                aria-label=".form-select-sm example">
                <option value="MD" selected>Medium</option>
                <option value="ES">Easy</option>
                <option value="HD">Hard</option>
                <option value="VH">Very Hard</option>
                <option value="EX">Expert</option>
                >
              </select>
              <br />
              <label for="DsAlgo" class="form-label">Algorithm Used</label>
              <select class="form-select form-select-sm" id="DsAlgo" name="category"
                aria-label=".form-select-sm example">
                <option value="{{dsalgos.0.pk}}" selected>
                  {{dsalgos.0.name}}
                </option>

                {% for i in dsalgos|slice:"1:" %}

                <option value="{{i.pk}}">{{i.name}}</option>

                {% endfor %}
              </select>

              <br /><br />
              <hr />
              <br />
              <center>
                <button type="submit" class="btn btn-outline-info btn-lg mb-5">
                  Submit
                </button>
              </center>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>




<!-- modal for add prob end -->






    <div class="row mt-2">


{% if problems_w_c %}
{% for i in problems_w_c %}
    <div class="com-sm-12">

      <div style="width: 100%" class="alert alert-info" role="alert">
        <div class="row ">
          <div class="col-sm-4 mt-2 mb-2">
            <span><strong>{{forloop.counter}}.</strong> </span>{{i.title|truncatechars:15}}
          </div>
          <div class="col-sm-2 mt-2">
            <a style="border-radius: 0.1rem" href="#" class="btn btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#editProblem{{i.pk}}">Edit
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </a>
          </div>
          <div class="col-sm-2 mt-2">
            <a style="border-radius: 0.1rem" href="{% url 'add_test_cases_page' i.pk %}" class="btn btn-outline-primary" >Add test case
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </a>
            <br />
          </div>
          <div class="col-sm-2 mt-2">
            <a style="border-radius: 0.1rem" href="{% url 'problem_w_c' i.pk %}" class="btn btn-primary" >Test
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
              </svg>
            </a>
  
          </div>
          <div class="col-sm-2 mt-2">
            <a style="border-radius: 0.1rem" href="{% url 'delete_prob_w_c' i.pk %}" class="btn btn-danger" >Delete
              
            </a>
  
          </div>
        </div>
      </div>
    </div>

    <!-- modal start edit problem -->

    <div class="modal fade" id="editProblem{{i.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="editProblem{{i.pk}}Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editProblem{{i.pk}}Label">
              Edit Problem
              <small style="font-weight: lighter"> ({{i.title}})</small>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'normal_problem_edit' i.pk %}">
              {% csrf_token %}

              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title_edit" value="{{i.title}}" required />
              <br />

              <label for="mytextarea" class="form-label">Description</label>
              <textarea name="description_edit" id="modaltextarea" required>
                {{i.description}}
              </textarea>

              <br />

              
           

              <label for="time_limit" class="form-label">Time Limit</label>
              <input type="number" id="time_limit" class="form-control" name="time_limit_edit" value="{{i.time_limit}}" required />
              <br />

              <input type="text" value="{{i.id}}" name="problem_id_edit" style="display: none" />
              

              <br />
              <label for="difficulty" class="form-label">Difficulty</label>
              <select class="form-select form-select-sm" id="difficulty" name="difficulty_edit"
                aria-label=".form-select-sm example">
                <option value="MD" selected>Medium</option>
                <option value="ES">Easy</option>
                <option value="HD">Hard</option>
                <option value="VH">Very Hard</option>
                <option value="EX">Expert</option>
                >
              </select>
              <br />
              <label for="DsAlgo" class="form-label">Algorithm Used</label>
              <select class="form-select form-select-sm" id="DsAlgo" name="category_edit"
                aria-label=".form-select-sm example">
                <option value="{{dsalgos.0.pk}}" selected>
                  {{dsalgos.0.name}}
                </option>

                {% for i in dsalgos|slice:"1:" %}

                <option value="{{i.pk}}">{{i.name}}</option>

                {% endfor %}
              </select>

              <br /><br />
              <hr />
              <br />
              <center>
                <button type="submit" class="btn btn-outline-info btn-lg mb-5">
                  Submit
                </button>
              </center>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end -->

    {% endfor %}
{% else %}
<div class="alert alert-primary d-flex align-items-center mt-5" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
  <div>
    Sorry, No Problems yet
  </div>
</div>
  
{% endif %}
  
      



    </div>








    <!-- add contest modal start -->
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add Contest</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'add_contest' %}">{% csrf_token %}
              <div class="row mb-3">

                <label for="contestTitle" class="col-sm-3 col-form-label mt-2">Title</label>
                <div class="col-sm-9 mt-2">
                  <input type="text" name="title" class="form-control" id="contestTitle">
                </div>

                <label for="startTime" class="col-sm-3 col-form-label mt-2">Start Time</label>
                <div class="col-sm-9 mt-2">
                  <input class="form-control" type="datetime-local" id="startTime" name="start_time">
                </div>

                <label for="endTime" class="col-sm-3 col-form-label mt-2">End Time</label>
                <div class="col-sm-9 mt-2">
                  <input class="form-control" type="datetime-local" id="endTime" name="end_time">
                </div>

                <label for="endTime" class="col-sm-3 col-form-label mt-2">Difficulty</label>
                <div class="col-sm-9 mt-2">
                  <select class="form-select form-select-md" name="difficulty" aria-label=".form-select-md example">
                    <option value="MD" selected>Medium</option>
                    <option value="ES">Easy</option>
                    <option value="HD">Hard</option>
                    <option value="VH">Very Hard</option>
                    <option value="EX">Expert</option>
                  </select>
                </div>


              </div>
              <center><button type="submit" class="btn btn-primary mt-4 mb-4">Curate</button></center>
            </form>
          </div>

        </div>
      </div>
    </div>
    <!-- add contest modal end -->

  </div>
</body>

</html>