{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration(Curator)</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        background-color: #f3f7f7;
    }

    .card {
        box-shadow: 2px 1px 23px 0px rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 2px 1px 23px 0px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 2px 1px 23px 0px rgba(0, 0, 0, 0.19);
        padding: 2rem 2rem 2rem;
    }

    .form-control {
        border-radius: 0;
        background-color: #f3f7f7;
    }

    .logo {
        width: 12rem;
    }
</style>

<body>
    <div class="container mt-4">

        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
            <strong>{{msg}} !!</strong>
            
        </div>
        {% endfor %}

    </div>
    <div style="margin-top: 10vh" class="container mb-5">

        <div class="row">
            <div class="col-md-3">

            </div>

            <div class="col-md-6">

                <center><img src="{% static 'algoGeek.png' %}" class="logo" alt=""></center>
                <br>
                <center>
                    <h3><Strong>For Curators</Strong></h3>
                </center>
                <center>
                    <p>Set Contests, Problems and help others to grow</p>
                </center>

                <div class="card">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <button class="nav-link active" id="sign" onclick="return sign_button()" aria-current="page"
                                ><strong>Sign Up</strong></button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="login" onclick="return login_button()"
                               ><strong>Login</strong></button>
                        </li>

                    </ul>
                    <div id="card_sign" class="card-body">
                        <form action="{% url 'signUp_curator' %}" method="POST" autocomplete="off">{% csrf_token %}


                            <div class="row mt-3">
                                <div class="col-12">
                                    <label for="inputEmail" class="form-label">
                                        <svg style="margin-right: 0.4rem; margin-bottom:0.2rem;"
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
                                            <path
                                                d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z" />
                                        </svg>

                                        Email
                                    </label>
                                    <input type="email" name="email" class="form-control" id="inputEmail"
                                        placeholder="Email" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label for="inputName" class="form-label">
                                        <svg style="margin-right: 0.4rem; margin-bottom:0.2rem;"
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path
                                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                        </svg>
                                        Name
                                    </label>
                                    <input type="text" name="name" class="form-control" id="inputName"
                                        placeholder="Name" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label for="inputUsername" class="form-label">
                                        <svg style="margin-right: 0.4rem; margin-bottom:0.2rem;"
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path
                                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                        </svg>
                                        User name

                                    </label>
                                    <input type="text" name="username" class="form-control" id="inputUsername"
                                        placeholder="User Name" autocomplete="off" aria-describedby="user_name"
                                        required />
                                    <div id="user_name" class="form-text">User name must be unique </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label for="inputPass" class="form-label">
                                        <svg style="margin-right: 0.4rem; margin-bottom:0.2rem;"
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z" />
                                        </svg>
                                        Password
                                    </label>
                                    <input type="password" name="pass" class="form-control" id="inputPass"
                                        autocomplete="off" required />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label for="inputCoPass" class="form-label">
                                        <svg style="margin-right: 0.4rem; margin-bottom:0.2rem;"
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z" />
                                        </svg>
                                        Confirm Password
                                    </label>
                                    <input type="password" name="conf_pass" class="form-control" id="inputCopass"
                                        autocomplete="off" required />
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <button style="width: 100%; border-radius: 0rem;" type="submit"
                                        class="btn btn-outline-primary btn-md">Sign Up</button>
                                </div>

                            </div>
                        </form>

                    </div>
                    <div style="display: none;" id="card_login" class="card-body">


                        <form action="{% url 'log_in_curator' %}" method="POST" autocomplete="off">{% csrf_token %}
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label for="inputUsername_" class="form-label">
                                        <svg style="margin-right: 0.4rem; margin-bottom:0.2rem;"
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path
                                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                        </svg>
                                        User name
                                    </label>
                                    <input type="text" name="username_login" class="form-control" id="inputUsername_"
                                        aria-describedby="user_name" required/>
                                    <div id="user_name" class="form-text">User name must be unique </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label for="inputPass_" class="form-label">
                                        <svg style="margin-right: 0.4rem; margin-bottom:0.2rem;"
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z" />
                                        </svg>
                                        Password
                                    </label>
                                    <input type="password" name="pass_login" class="form-control" id="inputPass_" required/>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <button style="width: 100%; border-radius: 0rem;" type="submit"
                                        class="btn btn-outline-primary btn-md">Login</button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>

                <br>
                <center>
                    <small>By signing up you agree to our Terms of Service and Privacy Policy</small>
                </center>

            </div>
            <br><br>
            <br><br>
            <div class="col-md-3">

            </div>
        </div>
    </div>
    <script>
        function sign_button() {
            document.getElementById('sign').className = "nav-link active";
            document.getElementById('login').className = "nav-link";
            document.getElementById('card_sign').style.display = "block";
            document.getElementById('card_login').style.display = "none";


        }
        function login_button() {
            document.getElementById('sign').className = "nav-link";
            document.getElementById('login').className = "nav-link active";
            document.getElementById('card_sign').style.display = "none";
            document.getElementById('card_login').style.display = "block";
        }

    </script>
</body>

</html>